html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
/* HERO SECTION 

.hero-section {
  padding: 70px 0px;
}

.hero-section-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.hero-title {
  font-size: 60px;
  font-family: "Outfit";
  font-weight: 500;
}

.hero-text {
  line-height: 1.5;
}

.hero-btn-link {
  width: 100%;
}

.hero-btn {
  padding: 8px 0px;
  border: none;
  border-radius: 16px;
  max-width: 180px;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.hero-img {
  max-width: 250px;
  border-radius: 16px;
}

.carousel {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 550px;
  height: 450px;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: scroll-loop 20s linear infinite;
}

.column:nth-child(2) {
  animation: scroll-loop 24s linear infinite reverse;
}

.item {
  width: 100%;
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.1));
  transition: transform 0.3s ease;
}

.hero-img:hover {
  transform: scale(1.05);
}

/* BESKONAČNI LOOP - ključ 
@keyframes scroll-loop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* OFFER SECTION */
.offer {
  padding: 70px 0px;
}

.offer-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.offer-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.h2-titles {
  font-family: "Outfit";
  font-size: 40px;
  font-weight: 500;
}

.offer-text {
  line-height: 1.7;
}

.offer-carts-holder {
  display: grid;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.offer-cart {
  max-width: 300px;
  width: 100%;
  border: 1px solid #c4c3c3;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.offer-cart-text {
  padding: 20px 0px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  height: 100%;
}

.offer-cart-text h4 {
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 500;
}

.offer-cart-text p {
  line-height: 1.5;
}

.cart-offer-btn {
  background: transparent;
  color: #fff;
  font-family: inherit;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 600;
}

.cart-offer-btn-link {
  text-decoration: none;
}

.btn-icon {
  cursor: pointer;
  transition: all ease 0.3s;
}

.cart-offer-btn:hover .btn-icon {
  transform: translate(4px);
}

.offer-sec-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 2;
  border-radius: 0px 0px 16px 16px;
  max-height: 160px;
  height: 100%;
}

/* GALLERY SECTION*/
.gallery {
  padding: 70px 0px;
}

.gallery-section-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.galley-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gallery-img {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
}

/* FAQ-SECTION */
.faq {
  padding: 70px 0px;
}

.faq-section-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.faq-text-holder {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 20px;
}

.questions-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.faq-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  border: 1px solid #c4c3c3;
  padding: 16px 16px;
  border-radius: 16px;
}

.qst-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.qst-holder h4 {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 18px;
}

.answ {
  max-width: 700px;
  width: 100%;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.open {
  max-height: 110px;
  opacity: 1;
  transform: translateY(0);
}

.qst-icon {
  font-size: 20px;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.faq-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.faq-cta h3 {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 30px;
}

.faq-cta-link {
  width: 100%;
}

.faq-cta-btn {
  max-width: 120px;
  width: 100%;
  border-radius: 16px;
  padding: 8px 0px;
  font-family: inherit;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: #000;
}

@media screen and (max-width: 1200px) {
  .sections-holder {
    width: 95%;
  }

  .hero-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .h2-titles {
    font-size: 35px;
  }

  .offer-text {
    font-size: 15px;
  }

  .offer-cart-text {
    justify-content: center;
  }

  .offer-cart-text h4 {
    font-size: 22px;
  }

  .offer-cart-text p {
    font-size: 15px;
  }

  .cart-offer-btn {
    font-size: 15px;
  }

  .offer-carts-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer-cart {
    max-width: 1000px;
    width: 100%;
    border: 1px solid #c4c3c3;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }

  .offer-sec-img {
    max-height: 250px;
  }

  .faq-text {
    font-size: 15px;
  }

  .qst-holder h4 {
    font-size: 17px;
  }

  .answ {
    font-size: 15px;
  }

  .faq-cta h3 {
    font-size: 25px;
  }

  .faq-cta p {
    font-size: 15px;
  }

  /*.hero-section-holder {
    gap: 1.5rem;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-text {
    font-size: 16px;
  }

  .carousel {
    max-width: 440px;
    height: 420px;
  }*/
}

@media screen and (max-width: 800px) {
  section {
    padding: 40px 0px !important;
  }

  .offer-sec-img {
    max-height: 200px;
  }

  .offer-cart-text h4 {
    font-size: 22px;
  }

  .offer-cart-text p {
    font-size: 14px;
  }

  .cart-offer-btn {
    font-size: 14px;
  }

  .qst-holder h4 {
    font-size: 16px;
  }

  /*.hero-section-holder {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .hero-text-holder {
    align-items: center;
    max-width: 100%;
  }

  .hero-title {
    font-size: 38px;
  }

  .hero-text {
    font-size: 15px;
    max-width: 90%;
  }

  .hero-btn {
    font-size: 15px;
  }

  .carousel {
    height: 400px;
    max-width: 800px;
  }*/
}

@media screen and (max-width: 520px) {
  .offer-carts-holder {
    grid-template-columns: repeat(1, 1fr);
  }

  .offer-sec-img {
    max-height: 260px;
  }

  .galley-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .h2-titles {
    text-align: center;
  }

  .faq-title {
    text-align: start !important;
  }

  /* .hero-title {
    font-size: 30px;
  }

  .hero-text {
    font-size: 14px;
  }

  .hero-btn {
    font-size: 14px;
    max-width: 160px;
  }

  .carousel {
    max-width: 520px;
    height: 360px;
  }

  .column {
    gap: 1rem;
  }*/
}
