footer {
  padding: 70px 0px;
}

.footer-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer-nav-holder {
  display: block !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 24px !important;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #c4c3c3;
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .footer-holder {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .copy {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    padding: 35px 0px;
  }
}

@media screen and (max-width: 520px) {
  .footer-nav-holder {
    flex-direction: column;
  }

  .copy {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
