/* HERO SECTION*/
.dispenser-hero-section-holder {
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.dispenser-hero-section-holder h1 {
  font-size: 60px;
  font-family: "Outfit";
  font-weight: 500;
}

.dispenser-hero-section-holder p {
  line-height: 1.5;
}

/* OFFER SECTION */
.dispenser-offer-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.dispenser-offer-text-holder {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.dispenser-title-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.dispenser-title-holder h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Outfit";
}

/* FILTER HOVER EFFECT */
.filter-holder {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  gap: 8px;
  cursor: pointer;
}

/* Sakrij dugmiće dok se ne hoveruje */
.filter-buttons {
  display: flex;
  gap: 12px;
  opacity: 0;
  transform: translateX(40px); /* pomjereni desno van ikone */
  transition: all 0.4s ease;
  pointer-events: none; /* da se ne mogu kliknuti dok nisu vidljivi */
}

.filter-buttons button {
  background: transparent;
  color: #fff;
  border: none;
  font-family: "Outfit";
  cursor: pointer;
  font-size: 15px;
}

/* Kada je aktivan (kliknuto) */
.filter-holder.active .filter-buttons {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* Samu ikonu možeš malo uvećati na hover radi efekta */
.filter-icon {
  font-size: 35px;
  transition: transform 0.3s ease;
}

.display {
  display: none;
  font-size: 35px;
  transition: transform 0.3s ease;
}

.filter-holder.active .filter-icon {
  transform: rotate(90deg);
}

.dispensers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.dis-cart {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.dis-offer-img {
  border-radius: 16px;
  width: 100%;
}

.dis-offer-img:hover {
  transform: scale(1.05);
}

.dis-cart-dtl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Outfit";
}

.dis-cart-name {
  font-size: 18px;
}

.dis-cart-cat {
  align-self: flex-start;
  font-size: 12px;
  margin-top: -10px;
}

.dis-cart-btn-link {
  width: 100%;
}

.dis-cart-btn {
  width: 100%;
  padding: 8px 0px;
  border: 1px solid #fff;
  border-radius: 12px;
  font-family: inherit;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.dis-cart-btn:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

/* DISPENSER DETAILS PAGE */
.dispenser-details-section-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-image {
  max-width: 600px;
  width: 100%;
  position: relative;
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.main-image img {
  width: 100%;
  border-radius: 16px;
  flex-shrink: 0;
}

.slider-container {
  max-width: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.thumbnails img {
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
}

/* SLIDER */
.slider-container {
  max-width: 600px;
  width: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s ease;
  z-index: 10;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.6);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.dispenser-name-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.dispenser-name {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 40px;
}

.price-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  width: 100%;
}

.price {
  font-size: 25px;
  font-weight: 500;
}

.product-cta-link {
  max-width: 120px;
  width: 100%;
}

.product-cta {
  padding: 8px 0px;
  border-radius: 16px;
  max-width: 120px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  font-family: inherit;
  font-weight: 500;
  color: #000;
}

.product-cta:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

.description {
  line-height: 1.7;
  max-width: 1160px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.tabs button {
  font-family: "Outfit";
  border: none;
  background: transparent;
  color: #c2adea;
  font-size: 16px;
  cursor: pointer;
}

.tabs button.active {
  color: #fff;
}

.tabs button:hover {
  color: #fff;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  font-size: 15px;
  padding-left: 16px;
  color: #cfd8e3;
  font-weight: 500;
}

/*.specifications-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  font-size: 15px;
}

.specifications-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}*/

.specifications-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.specifications-table td {
  padding: 12px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.spec-label {
  font-weight: 500;
  color: #cfd8e3;
  width: 45%;
}

.spec-value {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .sections-holder {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .dispenser-hero-section-holder h1 {
    font-size: 50px;
  }

  .dispenser-hero-section-holder p {
    font-size: 15px;
  }

  .dispenser-title-holder h2 {
    font-size: 35px;
  }

  .dispenser-title-holder p {
    font-size: 15px;
  }

  .dis-cart-name {
    font-size: 16px;
  }

  .dis-cart-price {
    font-size: 15px;
  }

  .filter-buttons button {
    font-size: 12px;
  }

  .dispenser-name {
    font-size: 35px;
  }

  .price {
    font-size: 20px;
  }

  .price-holder {
    justify-content: flex-end;
    max-width: 262px;
  }

  .description {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .dispenser-hero-section-holder h1 {
    font-size: 45px;
  }

  .dispenser-hero-section-holder p {
    font-size: 16px;
  }

  .dispensers {
    grid-template-columns: repeat(2, 1fr);
  }

  .dispenser-offer-text-holder {
    flex-direction: column-reverse;
    gap: 12px;
  }

  .filter-holder.active .display {
    transform: rotate(-90deg); /* <-- sada ide u suprotnom smjeru */
  }

  .filter-holder {
    flex-direction: row-reverse;
  }

  .filter-buttons button {
    font-size: 14px;
  }

  .filter-icon {
    display: none;
  }

  .display {
    display: block;
  }

  .dispenser-name-holder {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .dispenser-name {
    font-size: 30px;
  }

  .price-holder {
    align-items: flex-start;
    flex-direction: column;
    max-width: 800px;
    gap: 24px;
  }

  .price {
    font-size: 20px;
  }

  .product-cta-link {
    max-width: 800px;
  }

  .product-cta {
    max-width: 800px;
  }

  .slider-container {
    max-width: 800px;
  }

  .main-image {
    max-width: 800px;
  }

  .thumbnails {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .dis-cart-name {
    font-size: 12px;
  }

  .dis-cart-price {
    font-size: 12px;
  }

  .dis-cart-cat {
    font-size: 10px;
  }

  .dis-cart {
    margin-bottom: 4px;
  }

  .price {
    font-size: 18px;
  }

  .tabs {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .advantages-list {
    font-size: 14px;
  }

  .specifications-table {
    font-size: 14px;
  }
}
